.content-tabs {
  flex-grow : 1;
  
  .content {
      display: none;
    }
    .active-content {
      display: block;
  }
  
}
.content-tabs .wcs_welcome{
  text-align: center;
  align-items: center;
  display: inherit;
  margin-top: 25px;
  font-size: 50px;
  a{
    text-decoration: none;
  }
}