.wcs_view_ticket{
    display: flex;
    padding: 20px;
    gap: 20px;

    .wcs_tickets_container{
        flex:4;
        img{
            width: 50%;
        }
        .wcs_tickets{
            display: flex;
            flex: 1; 
            padding: 10px;
    
            .wcs_title_class{
                display: flex;
                align-items: center;
                position: relative;
           
                .wcs_editor {
                    width: 85%;
                    margin-left: 55px;
                    // margin-left:35px;
                    .desc{
                        box-shadow: 2px 4px 10px 1px rgb(201 201 201 / 47%);
                        text-align: left;
                        padding: 11px;
                    }
                    .editor_filed{
                        width: 800px;
                        height: 400px;
                    }
                    .wcs_user_create{
                        width: 160px;
                        padding: 10px;
                        border: none;
                        background-color: teal;
                        color: white;
                        font-weight: bold;
                        cursor: pointer;
                        margin-top: 10px;
                    }

                    button.wcs_user_create{
                        width: 160px;
                        padding: 10px;
                        border: none;
                        background-color: teal;
                        color: white;
                        font-weight: bold;
                        cursor: pointer;
                        margin-top: 38px;
                        float: left;
                    }
                }

                
                .Icon_description_user{
                    position: absolute;
                    left: 3px;
                    font-size: 35px;
                    color: #92b588;
                   
                }
                .user_title {
                    border: 7px dotted #cdebc4;
                    background-color: #cdebc4;
                    width: 19px;
                    font-size: 23px;
                    border-radius: 7px;
                    text-align: center;
                    color: rgba(0, 0, 0, 0.3);
                    margin-left: 2px;
                }

                .title_icon{
                    font-size: 35px;
                    color: #92b588;
                }
              
                .sp_title{
                    margin-left: 19px;
                    font-weight: bold;
                    color: #888;
                    margin-left: 10px;
                    font-size: 18px;
                }
                span{
                    font-size: 14px;
                    color: #888;
                    margin-left: 10px;
                 
                }
                .title_icon_email{
                    font-size: 25px;
                    font-weight: bold;
                    color: #92b588;
                    margin-left: 6px;
                }
            }
            .wcs_title_info{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 30px;
                .user_title{
                    border: 7px dotted #cdebc4;
                    background-color: #cdebc4;
                    width: 19px;
                    font-size: 23px;
                    border-radius: 7px;
                    text-align: center;
                    color: rgba(0, 0, 0, 0.3);
                    margin-left: 2px;
                }
                // .user_icon{
                //     font-size: 30px;
                //     color: #7451f8;
                // }
                span{
                    position: relative;
                    top: -30px;
                    left: 23px;
                    font-size: 14px;
                    color: #888;
                    margin-left: 10px; 
                    padding-left: 13px;
                }
            }
            
    
        }
        .wcs_tickets_res {
            display: flex;
            flex-direction: row-reverse;

            .wcs_title_res_class{
                display: flex;
                align-items: center;
                position: relative;

                .Icon_description_user_res{
                    position: absolute;
                    right: -35px;
                    font-size: 35px;
                    color: #92b588;  
                }
           
                .wcs_editor_res {
                    // width: 85%;
                    margin-right: 15px;
                    .desc_res{
                        box-shadow: 2px 4px 10px 1px rgb(201 201 201 / 47%);
                        // text-align: left;
                        padding: 11px;
                    }
                }
            }
        }
        
    }
    .wcs_left{
        // flex: 2; 
        flex: 1; 
        height: 100vh;
        text-align: left; 
        padding: 10px;
        margin: 20px;
        box-shadow: 2px 4px 10px 1px rgb(201 201 201 / 47%);
        .properties_title {
            margin-left: 21px;
            color: #888;
        }
        .wcs_editor{
            margin-right: 10px;
            .quill.editor_filed_note {
                height: 200px;
            }
        }
    }
    .wcs_right{
        flex: 2; 
        margin-top: 64px;
        .wcs_inp_imstatuss{
            position: relative;
            .subimstatus {
                position: absolute;
                top: -2px;
                right: 5px;
                margin-top: 4px;
            }
        }
        label{
            display: flex;
            align-items: center;
            gap: 10px;

            .wcs_icon{
                cursor: pointer;
            }
        }
        .formInput{
            width: 100%;
            input{
                width: 100%;
                // design 
                padding: 5px;
                border: none;
                border-bottom: 1px solid gray;
                background-color: #F0F0F1;

                &:focus{
                    outline: none;
                    box-shadow: none;
                }

            }
            img{
                width: 50px;
                height: 50px;
                border-radius: 50%;
                object-fit: cover;
            }

        }
        button.wcs_user_create{
            width: 160px;
            padding: 10px;
            border: none;
            background-color: teal;
            color: white;
            font-weight: bold;
            cursor: pointer;
            margin-top: 25px;
            float: left;
        }

    }
    

}
